#Intellij IDEA
.idea/
**/*.iml

#VS Code
.vscode/

#Maven & Spring Boot Logs
target/
**/target/
*.log
logs/
**/logs/

#Postman
.postman/

#Environment variables
.env*
*.env
**/.env
!.env.example



#OpenCode
.opencode/
!.opencode/agents/